:root {
  font: 16px / 1 sans-serif;
}

html {
  height: auto;
  width: 100%;
}

body {
  font: 16px/ 1 san-serif;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: auto; */
  /* width: 100%; */
}

img {
  border: 5px solid rgb(117, 3, 3);
  border-radius: 20px;
  box-shadow: 0px 2px 3px #f1f107;
  width: 100px;
  height: 100px;
  object-fit: fill;
}

h1 {
  font-family: 'Sofia', sans-serif;
  font-size: 50px;
  height: 0.5rem;
}

h2 {
  padding: 1rem;
}
h3 {
  padding: 0.5rem;
  font-size: 30px;
}

main {
  display: flex;
  flex-direction: column;
}

span {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0 4rem;
}

button {
  cursor: pointer;
  position: relative;
  padding: 0.5rem 2.5rem;
  border-radius: 2.75rem;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 600;

  border: 1px solid #012880;
  background-image: linear-gradient(-180deg, #ee1a1d 0%, #e4700a 100%);
  box-shadow: 0 1rem 1.25rem 0 rgba(226, 237, 10, 0.858),
    0 -0.25rem 1.5rem rgb(240, 127, 6) inset,
    0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
    0 0.25rem 0.5rem 0 rgb(216, 18, 18) inset;
}
footer {
  padding-top: 2rem;
}

/* Hidden Pieces*/
.choice-made button {
  display: none;
}
.playerOne .choice {
  display: none;
}
.playerOne.choice-made .choice {
  display: flex;
}
/* #winner {
  display: flex;
} */
