:root {
  font: 16px / 1 sans-serif;
}

html {
  height: auto;
  width: 100%;
}

body {
  font: 16px/ 1 san-serif;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

img {
  width: 100%;
  max-width: 25%;
  height: auto;
  max-height: 25%;
}
